<% content_for :css_head do %>
  <%= stylesheet_link_tag "ymessages" %>
<% end %>
<% content_for :js_head do %>
<% end %>
<% content_for :js_ready do %>
<% end %>

<div class="span16 page-header">
	<h1>收件匣</h1>
</div>	

<div id="alert_area">
</div>

<% if flash[:success] %>
  <%= javascript_tag do %> 
	$('#alert_area').empty().append(show_alert("success","成功!","<%= flash[:success] %>"));
	$('#alert_area').children(".alert-message").fadeIn("slow");
  <% end %>
<% end %>

<div class="row span15 msg_area">
  <form>
    <div class="msg_body">
    
      <table>
        <tr>
        	<th>Subject</th>
        	<th>Sender</th>
        	<th>Sent</th>
        	<th>Delete?</th>
        </tr>
        <% if @messages.size == 0 %>
        	<tr>
            <td colspan="4">
            	No messages
            </td>
        	</tr>
        <% else %>
        	<% for message in @messages %>
            <tr>
            	<td>
                <% if message.read? %>
                  <%= link_to h(message.subject), message_path( message), :class => 'msg_readed' %>
                <% else %>
                  <%= link_to h(message.subject), message_path( message), :class => 'msg_unread' %>
                <% end %>
            	</td>
            	<td>
                <% if message.read? %>
                  <%= link_to h(message.sender.name), user_path(@user), :class => 'msg_readed' %>
                <% else %>
            	  <%= link_to h(message.sender.name), user_path(@user), :class => 'msg_unread' %>
                <% end %>
            	</td>
              <td>
                <% if message.read? %>
                  <p class='msg_readed'><%=h message.created_at.to_s(:long) %></p>
                <% else %>
                  <p class='msg_unread'><%=h message.created_at.to_s(:long) %></p>
                <% end %>
              </td>
              <td>
                <%= check_box_tag "delete[]", message.id %>
              </td>
            </tr>
        	<% end %>
        <% end %>
      </table>
    
      <div class="actions newmsg_actions">
        <a href="<%= messages_path(:mailbox => :sent)%>" class="btn primary">寄件備份</a>&nbsp;
        <a href="<%= new_message_path %>" class="btn">撰寫</a>&nbsp;
        <button type="submit" class="btn danger" value="Delete">刪除</button>&nbsp;
      </div>
    </div>  
  </form>
</div>
