<h1>歡迎加入<%= Settings.app_name %></h1> 
<p>
<label> 您好 <%= @user.name %>, </label> <br />
</p>

<p>
  您已經成功從 <%= @user.provider %> 註冊為 <%= Settings.app_name %> 會員.<br/>
</p>
<p>
  To login to the site, just follow this link: <%= root_url %>.
</p>
<p>Thanks for joining and have a great day!</p>

