<%= form_for(@shop) do |f| %>
  <% if @shop.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shop.errors.count, "error") %> prohibited this shop from being saved:</h2>

      <ul>
      <% @shop.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= f.label :name, "Shop name" %>
    <%= f.text_field :name %> <br/>
    <%= f.label :address, "Address" %>
    <%= f.text_field :address %><br/>
    <%= f.label :tel, "Tel" %>
    <%= f.telephone_field :tel %>
  </p>
  <p>
    <%= f.fields_for(:categories) do |catef| %>
      <p>
        <%= render "edit_category", :f=>catef %>
      </p>
    <% end %>
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
