<h1>Listing groups</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Tel</th>
    <th>Dest address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= link_to group.name, group_path(group) %></td>
    <td><%= group.tel %></td>
    <td><%= group.dest_address %></td>
    <% if false %>
      <!-- move these to backend admin -->
      <td><%= link_to 'Edit', edit_group_path(group) %></td>
      <td><%= link_to 'Destroy', group, confirm: 'Are you sure?', method: :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
