<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>
<p>
  <b>Admin:</b>
  <%= link_to @group.admin.name, user_path(@group.admin) %>
</p>
<p>
  <b>Tel:</b>
  <%= @group.tel %>
</p>

<p>
  <b>Dest address:</b>
  <%= @group.dest_address %>
</p>

<p>
  <% if @group.members.any? %>
    <b>Members:</b>
    <% for member in @group.members %>
      <%= link_to member.name, user_path(member) %><br/>
    <% end %>
  <% else %>
    <b>There is no members in this group.</b>
  <% end %>
</p>

<p>
  <% if not admin? %>
    <% if @group.members.include?( @user) %>
      <%= button_to "Quit this group", :action => "del_member",  :confirm => "Are you sure?", :user_id=>@user.id %>
    <% else  %>
      <%= button_to 'Request to join this group', :action =>'request_join'%> <br/>
      <%= button_to "Join this group", :action => 'add_member', :user_id=>@user.id %>
    <% end%>
  <% end %>
</p>

<% if editable? %>
  <%= link_to 'Edit', edit_group_path(@group) %> | 
<% end %>
<%= link_to 'Back', groups_path %>
