<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>
<p>
  <b>Admin:</b>
  <%= link_to @group.admin.name, user_path(@group.admin) %>
</p>
<p>
  <b>Tel:</b>
  <%= @group.tel %>
</p>

<p>
  <b>Dest address:</b>
  <%= @group.dest_address %>
</p>

<p>
  <% if @group.members.any? %>
    <b>Members:</b>
    <% for member in @group.members %>
      <%= link_to member.name, user_path(member) %><br/>
    <% end %>
  <% else %>
    <b>There is no members in this group.</b>
  <% end %>
</p>

<p>
  <% if not admin? %>
    <% if @group.members.include?( @user) %>
      <%= link_to 'quit this group', "#not implement yet" %>
    <% else  %>
      <%= link_to 'request to join this group', request_join_path( @group) %>
    <% end%>
  <% end %>
</p>

<% if editable? %>
  <%= link_to 'Edit', edit_group_path(@group) %> | 
<% end %>
<%= link_to 'Back', groups_path %>
