<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @group.name %>
</p>

<p>
  <b>Tel:</b>
  <%= @group.tel %>
</p>

<p>
  <b>Dest address:</b>
  <%= @group.dest_address %>
</p>


<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
