<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>GroupYum</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    "application", "base" %>
  <%= yield :css_head %>
  <%= javascript_include_tag "application", "base", "jquery.form" %>
  <%= yield :js_head %>
  <%= javascript_tag do %> 
    $(document).ready(function() { 
        $('.topbar').dropdown();
        <%= yield :js_ready %> 
    }); 
  <%end %>   
  
</head>
<body>
<div id="base_header"><%= render 'baseheader' %></div>
<div id="base_container" class="container container_box">
    <%= content_for?(:content) ? yield(:content) : yield %>
    <footer><%= render "basefooter" %></footer>
</div>
</body>
</html>
